<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="1" row-height="100px">
    <!-- Cabeçalho da pagina -->
    <mat-card-header class="card-heard">
      <mat-card-title>{{ isFormEdit ? 'Atualizar' : 'Criar' }} categoria</mat-card-title>
    </mat-card-header>
    <div class="controles-container">
      <mat-form-field>
        <input formControlName="nome" matInput placeholder="Nome" />
        <mat-error>
          <app-message-error [field]="form.controls.nome" name="Nome"></app-message-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="descricao" matInput placeholder="Descrição" />
        <mat-error>
          <app-message-error [field]="form.controls.descricao" name="Descrição"></app-message-error>
        </mat-error>
      </mat-form-field>
    </div>
    <app-footer-form
      [nameForm]="form"
      [isFormEdit]="isFormEdit"
      (closeForm)="closeDialog()"
      (clearForm)="form.reset()"
    ></app-footer-form>
  </mat-grid-list>
</form>
