form.normal-form {
  margin: 10px;
}

.controles-container > *,
.full-width {
  width: 100%;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
}
.form-footer button {
  margin: 5px;
}

p {
  font-family: Lato;
}
