<form class="normal-form" [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
  <mat-card class="mat-elevation-z8">
    <div class="container" cols="2">
      <!-- Cabeçalho da pagina -->
      <mat-card-header class="card-heard">
        <mat-card-title>Cadastrar produto</mat-card-title>
      </mat-card-header>
      <div class="controles-container">
        <mat-form-field>
          <input matInput formControlName="nome" placeholder="Nome" />
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="descricao" placeholder="Descrição" />
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="categoria" placeholder="Categoria">
            <mat-option
              *ngFor="let categoria of categorias"
              [value]="categoria.id"
            >
              {{ categoria.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-footer">
          <button mat-raised-button color="secundary" (click)="onBack()">
            voltar
          </button>
          <button
            mat-raised-button
            color="warn"
            [disabled]="!produtoForm.dirty"
            (click)="formClear()"
          >
            Limpar
          </button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!produtoForm.valid"
          >
            Salvar
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</form>
