<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container" cols="2">
    <!-- Cabeçalho da pagina -->
    <mat-card-header class="card-heard">
      <mat-card-title>{{ isEdit() }} produto</mat-card-title>
    </mat-card-header>
    <div class="controles-container">
      <mat-form-field>
        <input matInput formControlName="nome" placeholder="Nome" />
        <mat-error>
          <app-message-error [field]="form.controls.nome" name="Nome"></app-message-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="descricao" placeholder="Descrição" />
        <mat-error>
          <app-message-error [field]="form.controls.descricao" name="Descrição"></app-message-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="categoria" placeholder="Categoria" [(value)]="selected">
          <mat-option *ngFor="let categoria of categorias | async" [value]="categoria.nome">
            {{ categoria.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form-footer">
        <button mat-raised-button color="secundary" type="button" (click)="closeDialog()">
          Fechar
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="formClear()"
          *ngIf="!formEdit"
          [disabled]="!form.dirty"
        >
          Limpar
        </button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
          Salvar
        </button>
      </div>
    </div>
  </div>
</form>
