<div class="container mat-elevation-z8">
  <!-- Cabeçalho da pagina -->
  <mat-card-header class="card-heard">
    <mat-card-title>Categorias</mat-card-title>
    <button mat-mini-fab color="primary" id="nova-categoria" (click)="openDialog(null)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-header>
  <mat-table mat-table [dataSource]="dataSource" id="table-print">
    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ item.nome }} </mat-cell>
    </ng-container>

    <!-- Descricao Column -->
    <ng-container matColumnDef="descricao">
      <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ item.descricao }} </mat-cell>
    </ng-container>

    <!-- Categoria Column -->
    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button
          id="btnEdit"
          mat-icon-button
          (click)="openDialog(item)"
          matTooltip="Clique para editar o item"
          matTooltipPosition="above"
          matTooltipClass="btn-edit"
          type="button"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          id="btnDelete"
          mat-icon-button
          (click)="openDialogDelete(item)"
          type="button"
          matTooltip="Clique para excluir o item"
          matTooltipClass="btn-delete"
          matTooltipPosition="above"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
